<div class="ligue">
  <div class="wrapper">
    <div class="row">
      <div class="col-lg-12">

        <h2>Ligue e garanta sua vaga!</h2>
        {% include svg/pink-wave.svg %}
        <p>(27) 3072 1070</p>
        <a href="tel:02730721070"><p class="phone">Ligar</p></a>
        <div class="social-box">
          {% include svg/icon-instagram.svg %}
          {% include svg/icon-facebook.svg %}
          <div class="box-instagram">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
