<div class="proximos-cursos">
  <div class="wrapper container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

        <h2>Próximos Cursos</h2>
        {% include svg/pink-wave.svg %}

      </div>
    </div>
    <div class="row box-cursos">
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
        <div class="curso">
          <div>
            <p>Curso</p>
            <h3>Pele Pefeita</h3>
            <div>
              {% include svg/icon-calendar.svg %}
              <h4>11/05</h4>
            </div>
          </div>
          <h5>R$ 190</h5>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
        <div class="curso">
          <div>
            <p>Curso</p>
            <h3>Pele Negra</h3>
            <div>
              {% include svg/icon-calendar.svg %}
              <h4>15/05</h4>
            </div>
          </div>
          <h5>R$ 250</h5>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
        <div class="curso">
          <div>
            <p>Curso</p>
            <h3>Penteado</h3>
            <div>
              {% include svg/icon-calendar.svg %}
              <h4>22/05</h4>
            </div>
          </div>
          <h5>R$ 350</h5>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
        <div class="curso">
          <div>
            <p>Curso</p>
            <h3>Maquiagem para noivas</h3>
            <div>
              {% include svg/icon-calendar.svg %}
              <h4>29/05</h4>
            </div>
          </div>
          <h5>R$ 250</h5>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
        <div class="curso">
          <div>
            <p>Curso</p>
            <h3>Delineado</h3>
            <div>
              {% include svg/icon-calendar.svg %}
              <h4>6/6</h4>
            </div>
          </div>
          <h5>R$ 150</h5>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
        <div class="curso">
          <div>
            <p>Curso</p>
            <h3>Automaquiagem </h3>
            <div>
              {% include svg/icon-calendar.svg %}
              <h4>20/6</h4>
            </div>
          </div>
          <h5>R$ 150</h5>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
        <div class="curso">
          <div>
            <p>Curso</p>
            <h3>Olhos esfumados  </h3>
            <div>
              {% include svg/icon-calendar.svg %}
              <h4>21/6</h4>
            </div>
          </div>
          <h5>R$ 150</h5>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
        <div class="curso">
          <div>
            <p>Curso</p>
            <h3>Babyliss</h3>
            <div>
              {% include svg/icon-calendar.svg %}
              <h4>26/6</h4>
            </div>
          </div>
          <h5>R$ 350</h5>
        </div>
      </div>

    </div>
  </div>
</div>
