.wrapper{
  width: 960px;
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (max-width:960px){
  .wrapper{
    width:100%;
  }
}

body{
  font-size:62.5%;
}

h1, h2, h3, h4, h5{
  font-family: $font-bold;
  color: $grey-dark;
  font-size: 1.6em;
}

h1{
  font-family: $font-bold;
  font-size: 5em;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: white;
  text-align: right;
}

h2{
  font-size: 5.0em;
  text-align: left;
  margin-bottom: 20px;
}

p{
  font-family: $font-open;
  font-size: 1.6em;
  line-height: 2em;
}

a{
  font-family: $font-open;
  font-size: 1.6em;
  text-decoration: none;
}

a.btn-euquero{
  padding: 14px 64px;
  margin: 0 30px 30px;
  float: left;
  width: 80%;
  border-radius: 5px;
	border: 0;
	font-size: 1em;
  color: #fff;
  font-family: $font-bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: linear-gradient(90deg, $aqua, $blue);
  border-bottom: 4px solid $blue;
  transition: all 0.6s ease;
  &:hover{
    color: #fff;
    cursor: pointer;
    background-image: linear-gradient(90deg, saturate($aqua, 50%), saturate($blue, 50%));
    border-bottom: 4px solid saturate($blue, 50%);
  }
  &:active{
    background-image: linear-gradient(90deg, saturate($aqua, 100%), saturate($blue, 100%));
  }
}

.pink-wave{
  width: 125px;
  margin: 0 auto;
  margin-top: 30px;
  svg{
    width: 100%;
  }
}
