.logo{
  height: 120px;
  margin-top: 15px;
}

.menu-button-burger{
  width:30px;
	&:hover{
		cursor:pointer;
	}
	svg{
		width: 100%;
	}
}

.menu{
	display: flex;
	align-items: center;
	position: fixed;
  background-color: $primary-color;
	z-index: 888;
	width: 100%;
	transition: 300ms ease-in-out all;
	flex-direction: row;
	-ms-flex-direction: row;
	justify-content: space-between;
	-ms-justify-content: space-between;
	padding: 20px 10px 10px 10px;
  width: 100%;
}

nav{
	text-align: right;
  display: flex;
  justify-content: flex-end;
	align-items: center;
  width: 30%;
}

.nav-scroll{
	background-color: #fff;
	box-shadow: 0px 4px 25px -6px rgba(0,0,0,0.2);
	padding-top: 12px;
}

nav ul li{
	display: inline-block;
  margin-right: 40px;
	color: #fff;
}

.menu-mobile{
	display: none;
}

@media screen and (max-width:800px){
	nav ul li{
		margin-right: 10px;
	}
}

.wrapper-menu{
	position: relative;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

.main{
	float: left;
	width: 100%;
	height: 100%;
	position: relative;
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-wekit-transition: 300ms ease all;
	-moz-transition: 300ms ease all;
	-ms-transition: 300ms ease all;
	-o-transition: 300ms ease all;
	transition: 300ms ease all;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
}

.show-nav{
	-webkit-transform: translateX(-300px);
	-moz-transform: translateX(-300px);
	-ms-transform: translateX(-300px);
	-o-transform: translateX(-300px);
	transform: translateX(-300px);
	-webkit-transform: translate3d(-300px,0,0);
	-moz-transform: translate3d(-300px,0,0);
	-ms-transform: translate3d(-300px,0,0);
	-o-transform: translate3d(-300px,0,0);
	transform: translate3d(-300px,0,0);
}

.menu-list{
	width: 300px;
	height: 100%;
	position: fixed;
	right: -300px;
	background: $dark-color;
	color: #fff;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	-wekit-transition: 300ms ease all;
	-moz-transition: 300ms ease all;
	-ms-transition: 300ms ease all;
	-o-transition: 300ms ease all;
	transition: 300ms ease all;
	ul{
		width: 100%;
		height: 100%;
		overflow-y: auto;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin-top: 62px;
		li{
			width: 100%;
			text-align: center;
			padding: 20px;
			font-size: 1em;
			color: #fff;
			border-top: 1px solid $light-color;
      a{
        font-family: $font-roboto-light;
        font-size: 1.6em;
        color: white;
      }
			&:last-child{
				border-bottom: 1px solid $primary-color;
			}
			&:first-child{
				border-top: none;
				display: flex;
				justify-content: space-between;
				&:hover{
					cursor:default;
				}
			}
      &:hover{
        background-color: $primary-color;
      }
			svg{
				width: 30px !important;
				margin: 0 !important;
			}
			svg path{
				fill:#fff !important;
			}
		}
		&>:hover{
			background: $light-color;
			cursor: pointer;
		}
	}
}

.active-menu-list{
	right: 0;
}
