@charset "utf-8";

@font-face {
  font-family: 'akrobat-black';
  src: url('fonts/akrobat-extrabold.eot');
  src: url('fonts/akrobat-extrabold.otf');
  src: url('fonts/akrobat-extrabold.woff') format('woff');
  src: url('fonts/akrobat-extrabold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto:italic');
@import url('https://fonts.googleapis.com/css?family=Roboto:bold');
@import url('https://fonts.googleapis.com/css?family=Roboto:light');


$font-bold: 'akrobat-black', Helvetica, Arial, sans-serif;
$font-open: 'Open Sans', sans-serif;
$font-roboto-light: 'Roboto Light', Helvetica, Arial, sans-serif;

$primary-color: #a0d468;
$light-color: lighten($primary-color, 7);
$dark-color: darken($primary-color, 7);

$grey-light:  #e6e9ee;
$grey-medium: #aab2bd;
$grey-dark: #434a54;
$grape-color: #ed5564;
$orange: #fb6e52;
$yellow: #ffce55;
$green: #a0d468;
$mint: #48cfae;
$aqua: #4fc0e8;
$blue: #5d9ceb;
$lavander: #ac92ed;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "reset",
  "common",
  "flexboxgrid",
  "header",
  "banner",
  "grid",
  "container-box",
  "social-media",
  "contact"
;
